.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

@media (max-width: 1115px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
        margin-top: 0.625rem;
    }
}

@media (max-width: 770px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}
