.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0.2);
    border: 2px solid rgb(180, 179, 179);
    border-radius: 5px;
    padding: 1.5rem;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 250ms ease-out;
}

.card-container h2,
.card-container p {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.card-container h2 {
    font-size: 1.325rem;
    margin-bottom: 0.125rem;
}

.card-container p {
    font-size: 1.125rem;
    margin: 0.625rem 0;
    text-align: start;
}

.card-container p:not(:first-of-type) {
    margin-top: 0;
}

.card-container small {
    color: white;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 0.625rem;
    font-style: italic;
}

.card-container:hover {
    transform: scale(1.05);
}

@media (min-width: 916px) {
    .card-container:nth-child(n + 7):nth-child(-n + 9) {
        margin-top: 2rem;
    }
}
